name: Deploy CloudFormation Stack

on:
	push:
		branches:
			- master
	pull_request:
		branches:
			- master

jobs:
	deploy:
		runs-on: ubuntu-latest
		environment: production
		steps:
			- name: Checkout repository
				uses: actions/checkout@v4

			- name: Configure AWS credentials
				uses: aws-actions/configure-aws-credentials@v4
				with:
					aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
					aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
					aws-region: eu-north-1

			- name: Validate CloudFormation template
				run: |
					aws cloudformation validate-template --template-body file://product.yaml

			- name: Deploy CloudFormation stack
				run: |
					aws cloudformation deploy \
						--template-file product.yaml \
						--stack-name product-infra-stack \
						--capabilities CAPABILITY_NAMED_IAM \
						--parameter-overrides BucketName=product-static-bucket-eunorth1
